<launch>
    <!-- Arguments -->
    <arg name="lidar" default="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find lite3_description)/config/robot_torque_controllers_lite3.yaml" command="load"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <group if="$(arg lidar)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lite3_description)/xacro/robot_with_lidar.xacro'"/>
    </group>
    <group unless="$(arg lidar)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lite3_description)/xacro/robot.xacro'"/>
    </group>

    <node pkg="gazebo_model_spawn" type="spawn_model" name="$(anon spawn_model)" args="lite3" output="screen"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="lite3_gazebo">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

</launch>
